body{
  background-color: #FCEEF6
}
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

button{
  width: 25rem;
  height: 4rem;
  border: 4px solid white;
  margin: 1.25rem auto;
  cursor:pointer;
  padding: 1 rem;
  display:block;
  outline:none;
  border-radius: 50px;
  font-size: 2.5em;
  background-color: #F5260C;
  color:white
}

button:hover{
  background-color: rgb(245, 73, 50);
  transition: all 200ms ease-out;
}
button:disabled{
  transition: all 200ms ease-out;
  background-color: rgb(167, 143, 139);
  color: rgb(100, 87, 85);
}

.board{
  display: flex;
  align-items: stretch;
}

.player-card:nth-child(2){
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter:FlipH;
  -ms-filter: "FlipH";
}

.player-card{
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin:1rem;
}

h1{
  font-size: 4em;
  margin-bottom:0px
}
h2{
  font-size: 2em;
  margin-top: 0px;
  color:#3E7CD2
}
p{
  font-size: 2em;
  color:#FA5F5C;
}
